#page(data-role='page') 

  div(data-role='content')
    #site_intro(style="display:none;")
      h1 Welcome to Help Me Traffic
      h3 Want to know where the traffic jams are?
      p
        <a id="helpMeBtn" href="javascript:show_form();" data-role="button" data-inline="true" class="ui-btn ui-btn-inline ui-btn-corner-all ui-shadow ui-btn-down-c ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Help me!</span></span></a>  
  
    #loading(style="display:none;")
      center
        img(src='/img/loading1.gif')

    #site_body(style="display:none;")
      #container
      center
        #map_container    

    #registry_form(style="display:none;")
      table
        tr
          td Sex
        tr
          td
            div(data-role='fieldcontain')
              select(name="sex", id="sex")
                option(value="0") -- Select --
                option(value="M") M
                option(value="F") F
        tr
          td YOB
        tr
          td
            div(data-role='fieldcontain')
              select(name="yob", id="yob")
                option(value="0") -- Select --
        tr
          td
            div(id='btnRegister', data-role="button") Register
