!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://jquerymobile.com/test/themes/default/')
    link(rel='stylesheet', href='http://jquerymobile.com/test/docs/_assets/css/jqm-docs.css')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css')
    script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')
    script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
    script(type='text/javascript', src='http://jquerymobile.com/test/js/')
    script(type='text/javascript', src='/js/hmt.js')
    script(type='text/javascript')
      var _kmq = _kmq || [];
      function _kms(u){
        setTimeout(function(){
          var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
          s.src = u; f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/3a294d4930ad9151f007194f6485be7ad4059c78.1.js');
  body!= body
