body {
  padding: 0px;
  width:100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#site_body{
  display:none;
}

#registry_form{
  display:none;
}

#loading{
  display:block;
  padding:15px;
}

table {
  width:100%;
}
